@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: Sofia Pro Black,Helvetica Neue,Helvetica,Arial,sans-serif;
}

html {
    scroll-behavior: smooth;
}


/*section*/
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0062be;
    transition: 0.5s;
}

section .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background:url(../images/wave.png) ;
    background-size: 1000px 130px;
}
section .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
section .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10;
}
section .wave.wave3{
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}
section .wave.wave4{
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20;
}

@keyframes animate{
    0%{
        background-position-x: 0;

    }
    100%{
        background-position-x: 1000px;
        
    }
}
@keyframes animate2{
    0%{
        background-position-x: 0;

    }
    100%{
        background-position-x: -1000px;
        
    }
}



/*menu*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: #0000004f;
    z-index: 1002;
}

video{
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
}

header .logo {
    position: relative;
    max-width: 80px;
    transition: transform 0.5s;
}

header .logo:hover {
    transform: rotate(360deg);
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;

}

header ul li a {
    margin-left: 40px;
    position: relative;
    display: block;
    padding: 10px 20px;
    margin: 20px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #262626;
    font-weight: bold;
    transition: .5s;
}

header ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #0062be;
    border-bottom: 1px solid #0062be;
    transform: scaleY(2);
    opacity: 0;
    transition: .5s;
    z-index: -1;
}

header ul li a:hover {
    color: #fff;
}

header ul li a:hover:before {
    transform: scaleY(1.2);
    opacity: 1;
}

header ul li a:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0062be;
    transform: scale(0);
    transition: .5s;
    z-index: -1;
}

header ul li a:hover:after {
    transform: scale(1);
}

header ul li a {
    color: white;
    margin-left: 0;
}
figure {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    align-items: center;
    background: url(../images/Tablet.png);
    background-size: 2500px;
    transition: 0.5s;
    flex-wrap: wrap;
    justify-content: center;
}


.card {
    position: relative;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s;
}

figure ul {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

figure ul li {
    list-style: none;
}

.sp {

    margin-top: 10%;
    margin-left: 3%;
}

.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.card .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d83134;
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.card .circle:hover:before {
    background: #0065c3;
    clip-path: circle(400px at center);
}

.card #circle2:hover:before {
    background: #e60c2c;
    clip-path: circle(400px at center);
}

.card #circle3:hover:before {
    background: #1e1e1e;
    clip-path: circle(400px at center);
}

.card #circle4:hover:before {
    background: #96762e;
    clip-path: circle(400px at center);
}

.card #circle5:hover:before {
    background: #3d4244;
    clip-path: circle(400px at center);
}

.card #circle6:hover:before {
    background: #00519c;
    clip-path: circle(400px at center);
}

.card #circle7:hover:before {
    background: #bb5f00;
    clip-path: circle(400px at center);
}

.card #circle8:hover:before {
    background: #bb5f00;
    clip-path: circle(400px at center);
}

.card #circle9:hover:before {
    background: #696969;
    clip-path: circle(400px at center);
}

.card #circle10:hover:before {
    background: #9e1026;
    clip-path: circle(400px at center);
}

.card #circle11:hover:before {
    background: #a31e5f;
    clip-path: circle(400px at center);
}

.card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    pointer-events: none;
    transition: 0.5s;


}

.card:hover img {
    left: 77%;
    height: 450px;
}

.card .conten {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.2s;
    opacity: 0;
    visibility: hidden;
}

.card:hover .conten {
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.card .conten img.pep2 {
    position: absolute;
    left: 175px;
    top: 175px;
    height: 310px;
    border-radius: 5px 5px 10px 10px;
}

.card .conten h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 30px;
}

.card .conten p {
    color: #fff;
}

.card .conten a {
    position: relative;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
    color: #111;
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
}

#sanphaman {
    display: none;
}

.button1 {
    display: flex;
    margin-top: 5%;

}

.button1 button.them {
    margin-right: 50px;
}

.button1 button.bot {
    padding: 20px 40px 20px 40px;
}

.button1 button {
    background-color: #0062be;
    color: #fff;
    border-radius: 30px;
    padding: 20px;
    transition: transform 0.3s ease;
    border: none;
    justify-content: space-between;
}

.button1 button::after,
.button1 button::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #0062be;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.button1 button:hover {
    transform: translate(-12px, -12px);
    background: #0062be;
}

.button1 button:hover:after {
    transform: translate(6px, 6px);
}

.button1 button:hover:before {
    transform: translate(12px, 12px);
}